<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.mapper.system.DeptMapper">

    <sql id="base_where">
        <where>
            a.del_flag = 1
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="parentId != null and parentId != ''">
                AND parent_id = #{parentId}
            </if>
        </where>
</sql>

    <select id="list" parameterType="long" resultType="deptDTO">
        SELECT
            a.id,
            a.parent_id,
            a.`name`,
            a.order_num,
            a.status,
            a.del_flag,
            (SELECT value FROM sys_dict s WHERE type = 'A01' AND s.key = a.status) AS status_value
        FROM
            sys_dept a
        <include refid="base_where"></include>
        ORDER BY a.id, a.order_num
    </select>

    <select id="count" parameterType="deptEntity" resultType="long">
        SELECT COUNT(*)
        FROM sys_dept
        WHERE parent_id = #{id}
    </select>

</mapper>